﻿@model Task23_Library_MVC_Framework.Models.FormAnswer

@{
    ViewBag.Title = "Form";
}

@using (Html.BeginForm("Result", "Form", FormMethod.Post))
{
    <div id="questions" class="col-10">
        <form class="text-box pt-3">
            <div id="question_1">
                <p>Enter your name</p>
                @Html.TextBox("Name", "", new { @class = "form-control" })
                <p class="alert-danger">@Html.ValidationMessageFor(model => model.Name)</p>
            </div>
            <div id="question_2">
                <p>Which Genres do you prefer to read?</p>
                @MyHelpers.MultipleAnswerHelper(new List<string> { "Fantasy", "Horror", "Romance", "Science Fiction", "Dystopian", "Cyberpunk", "Thriller", "Memoir", "History", "Humor", "Travel", "Development", "Learning" }, "checkbox", "genres")
                <p class="alert-danger">@Html.ValidationMessageFor(model => model.Genres)</p>
            </div>
            <div id="question_3">
                <p>Are you crazy about reading books?</p>
                @MyHelpers.MultipleAnswerHelper(new List<string> { "Yes", "A little bit", "No" }, "radio", "ReadingPassion")
                <p class="alert-danger">@Html.ValidationMessageFor(model => model.ReadingPassion)</p>
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
}